
  <div class="container">
    <div class="pcpl-content pcpl-display-container">
      <% @album.photos.each do |photo| %>
        <%= image_tag (photo.variant(resize: "800x450")), {class: "mySlides", alt: "myiamge", style: "width:100%"} %>
      <% end %>
      <button class="pcpl-button pcpl-black pcpl-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="pcpl-button pcpl-black pcpl-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
	<div class="pcpl-content pcpl-display-container">
	<h3 class="pcpl-center"> <%= @album.name if @album && @album.name %> Slideshow</h3><br>
    <h4 class="pcpl-center">By: <%= @album.owner if @album && @album.owner %></h4>
	<div class="pull-right">
    <%= link_to 'Back', albums_path, {class: "btn btn-success"} %>
	</div>
	</div>
  </div>


<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>












