<main role="main">
	<%if !@albums.blank?%>
	<%= render 'album', albums: @albums %>
	<%else%>
	<section class="jumbotron text-center">
		<div class="container">
			<p class="lead text-muted">You haven't created an album Yet. Create one now by following the below Link.</p>
		</div>
		<div class="col-lg-12 col-md-12 pull-right">
			<%= link_to 'New Album', new_album_path, {class: "btn btn-success"} %>
		</div>
	</section>
	<%end%>
</main>
